---
layout: default
---

<article class="post">

  <h4>{{ page.title }}</h4>
  <br>

  <div class="entry">
    {{ content }}
  </div>
  <br>
  <hr>

	{% if page.next.url %} 
	<p><strong> Next post: </strong> <a href="{{site.url}}{{page.next.url}}"> {{ page.next.title}} </a> </p>
	{% endif %}

	{% if page.previous.url %} 
	<p><strong> Previous post: </strong> <a href="{{site.url}}{{page.previous.url}}"> {{ page.previous.title}} </a> </p>
	{% endif %}

	<p><strong> All posts: </strong> <a href="{{site.url}}/all-posts"> Here </a> </p>
	

	{% include sharebuttons_posts.html %}
	{% include disqus.html %}

</article>
